body {
  font-family: Arial, sans-serif;
    margin: 0;
  padding: 0;
  background-image: url('https://homedecoram.com/cdn/shop/files/01copy_258ebe27-70bc-4474-b7f5-3945b046718d_990x.jpg?v=1685779890'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #0fbe3d;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #34495e;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  background-color: #5e2503;
  
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

li:hover {
  transform: scale(1.05);
  background-color: #2f7593;
}
